@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Разработчик:</strong> <a href="mailto:diman1307@mail.ru">diman1307@mail.ru</a><br />
</address>
