@{
    ViewData["Title"] = "Uta App";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Поиск музыки</h2>
            <form asp-controller="MusicSearch" asp-action="Index"
                  id="musicSearchBox" class="form-group input-group">
                <input type="text" class="form-control input-lg" name="searchString" placeholder="Guns N' Roses - Knocking On Heaven's Door ">
                <span class="input-group-btn ">
                    <button class="btn btn-default btn-lg" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                        @*Найти*@
                    </button>
                </span>
            </form>
         </div>
    </div>
</div>

